.jokeArea {
  height: 30vh;
  width: 40vw;
  border: black solid;
  position: absolute;
  top: 60vh;
  left: 30vw;
  overflow: scroll;
}

.jokeQ {
  position: relative;
  top: 3vh;
  left: 2vw;
  width: 35vw;
  color: blue;
}

.jokeAnswer {
  position: relative;
  top: 7vh;
  left: 2vw;
  width: 35vw;
}

.justJoke {
  position: relative;
  top: 7vh;
  left: 2vw;
  width: 35vw;
  color: green;
}
